/* General body styling */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #2c2b4a;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height:10%;
  padding: 20px;
  background-color: #FCF4E4; /* Adjust header background color */
}

/* App logo styling */
.app-logo {
  height: 70px; /* Adjusted to a fixed height instead of using 'cap' */
}

/* Container for the entire search component */
/* Container for the entire search component */
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: flex-start; /* Start items from the top */
  min-height: 100vh;
  height: 100%; /* Full viewport height */
  background-color: #2c2b4a;
  padding: 20px;
  padding-top: 50px; /* Adjust top padding to control initial height */
}

/* Search input styling */
.search-input {
  width: 300px; /* Adjust width as needed */
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc; /* Added border for better visibility */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  background-color: #e7e3d4;
}


/* List item for each user */
.user-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px; /* Adjusted width for consistency */
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff; /* White background for better readability */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Button container styling */
.button-container {
  background-color: #007bff; /* Blue background color */
  color: white; /* White text color */
  padding: 10px 20px; /* Padding inside the button */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Hand cursor on hover */
  transition: background-color 0.3s ease; /* Smooth background color transition */
  border: none; /* Removed default button border */
  text-align: center; /* Center text inside button */
}

/* Hover effect for button */
.button-container:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* Styling for followed users */
.following {
  background-color: #6c757d; /* Gray background color */
  cursor: default; /* Default cursor */
}

/* Hover effect for followed users */
.following:hover {
  background-color: #6c757d; /* Maintain gray color on hover */
}


.star {
  height: 50px; /* Adjust height for responsiveness */
  margin: 20px; /* Adjust margin for responsiveness */
  display: flex;
  align-items: center;
}

.row {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.search {
  height: 10px;
}