:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
#root {
  height: 100vh;
}

html {
  background-color: #2c2b4a;
}

.image {
  height: 50px;
  width: 50px;
  margin: 10px;
  border: 2.5px solid #444a6e;
  border-radius: 100px;
}
